<div ba-panel  ba-panel-class="with-scroll">
    <div cg-busy="myPromise"></div>

    <div class="row add-row-editable-table">
        <div class="col-sm-2 text-right"><span>选择医院科室:</span></div>
        <div class="col-sm-3">
            <span>
                <select class="form-control" ng-model="search.department"
                        ng-options="department._id as department.name for department in departments">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-2 text-right"><span>药师User ID:</span></div>
        <div class="col-sm-3">
            <span>
                <span>
                <input ng-model="search.user_id" placeholder="药师名" class="input-sm form-control search-input" type="search"/>
            </span>
            </span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary pull-right" ng-click="addDoctor()">
                <i class="ion-android-add-circle"></i> 创建</button>
        </div>

    </div>
    <table class="table table-bordered table-hover table-condensed" ba-panel-title="Modals">
        <tr style="font-weight: bold">
            <td style="width:15%">医院科室</td>
            <td style="width:15%">名称</td>
            <td style="width:15%">User ID</td>
            <td style="width:10%">用户权限</td>
            <td style="width:10%">职称</td>
            <td style="width:10%">顺序</td>
            <td style="width:5%">有效</td>
            <td style="width:20%">操作</td>
        </tr>
        <tr ng-repeat="item in doctors | filter: search" class="editable-row">
            <td style="display:none;">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.department" e-name="department" e-form="rowform" e-required
                      e-ng-options="d._id as d.name for d in departments">
                  {{ showDepartment(item)}}
                </span>
            </td>
            <td>
                <span editable-text="item.name" e-name="name" e-form="rowform" e-required>
                  {{ item.name || '空' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-text="item.user_id" e-name="user_id" e-form="rowform" e-required>
                  {{ item.user_id || '空' }}
                </span>
            </td>
            <td>
                <span editable-select="item.role" e-name="role" e-form="rowform" e-required
                      e-ng-options="r.value as r.name for r in roles">
                  {{ showRole(item)}}
                </span>
            </td>
            <td>
                <span editable-text="item.title" e-name="title" e-form="rowform" e-required>
                  {{ item.title || '空' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-text="item.order" e-name="order" e-form="rowform" e-required>
                  {{ item.order || '' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveDoctor($data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <button class="btn btn-danger  btn-xs" ng-click="removeDoctor(item._id, item.user_id)"><i class="ion-ios-trash"></i></button>
                    <button class="btn btn-primary  btn-xs" data-toggle="modal" ng-click="goDoctorProfile(item._id)">
                        更多信息
                    </button>
                    <button class="btn btn-primary  btn-xs" data-toggle="modal" ng-click="goDoctorGroup(item._id)">
                        药师用户组
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
