<div class="modal-content" ng-controller="pageEditCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">模版编辑 [{{ editItem.name }}]</h4>
    </div>
    <div class="modal-body">
        <h3 class="with-line-no-padding text-muted" style="font-size: 1em;">
            科室: <span class="alert alert-success">{{ showDepartment(editItem) }}</span> /
            类别: <span class="alert alert-success">{{ showCat(editItem)}}</span>
            <a type="button"class="btn btn-sm {{preview?'btn-success':'btn-default'}} pull-right" ng-click="previewToggle()">预览</a>
        </h3>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="inputTitle" class="control-label">消息标题</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="" ng-model="editItem.title" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputTitleImage" class="control-label">标题图片</label>
                    <input type="file" class="form-control" id="inputTitleImage" placeholder="" ng-model="editItem.title_image" required />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <img></img>
                </div>
            </div>
        </div>

        <text-angular ng-model="editItem.edit_html" ng-if="!preview"></text-angular>
        <text-angular ng-model="editItem.edit_html" ng-if="preview" ta-bind></text-angular>

        <div class="modal-footer" style="padding-top:.5em;">
            <a type="button" class="btn btn-default" ng-click="$dismiss()" >取消</a>
            <a type="button" class="btn btn-primary" ng-click="savePage()" ><i class="ion-android-checkmark-circle"></i> 保存</a>
        </div>
    </div>
</div>