<div ba-panel  ba-panel-class="with-scroll">
  <div cg-busy="myPromise"></div>

  <div class="add-row-editable-table row">
    <div class="col-sm-6">
      <input ng-model="search.name" placeholder="药名过滤" class="input-sm form-control search-input" type="search"/>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary pull-right" ng-click="addMedicine()">
        <i class="ion-android-add-circle"></i> 创建
      </button>
    </div>
  </div>
  <table st-table="displayedItems" st-safe-src="medicines" class="table table-bordered table-hover table-condensed">
    <thead>
    <tr class="bg-info" style="font-weight: bold">
      <th st-sort="name" style="width:25%">药名</th>
      <th st-sort="desc" style="width:20%">描述</th>
      <th st-sort="usage" style="width:12%">使用方法</th>
      <th style="width:10%">服药周期</th>
      <th style="width:10%">提醒个数</th>
      <th st-sort="apply" style="width:8%">开关</th>
      <th style="width:25%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in displayedItems | filter: search track by $index" class="editable-row">
      <td ng-show="false">
        <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
            {{item._id}}
        </span>
        <span editable-number="item.dosage.count" e-name="count" e-form="rowform">
            {{item.dosage.count}}
        </span>
      </td>
      <td>
                    <span editable-text="item.name" e-name="name" e-form="rowform" e-required>
                      {{ item.name || '空' }}
                    </span>
      </td>
      <td>
                    <span editable-text="item.desc" e-name="desc" e-form="rowform">
                      {{ item.desc || '空' }}
                    </span>
      </td>
      <td>
                  <span editable-select="item.usage"  e-form="tableform" e-ng-options="s.value as s.text for s in usages">
                    {{item.usage}}
                  </span>
      </td>
      <td>
                  <span editable-select="item.dosage.intervalDay"  e-form="tableform" e-ng-options="s.value as s.name for s in intervalDays">
                    {{showInterval(item.dosage.intervalDay)}}
                  </span>
      </td>
      <td class="select-td">
                    <span>
                      {{ item.notices.length }}
                    </span>
      </td>
      <td class="select-td">
                    <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                      {{ item.apply || false }}
                    </span>
      </td>
      <td>
        <form editable-form name="rowform" onaftersave="saveMedicine($data, item._id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
              shown="inserted == item">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
            保存
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
            取消
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
          <delete-btn item-id="item._id" yes-delete="removeMedicine"></delete-btn>
          <button class="btn btn-primary btn-xs" data-toggle="modal"
                  ng-click="open('app/cms/hospital/medicine/medicineEdit.html', 'lg', item, $index)">
            药品编辑
          </button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot class="pbs">
    <tr>
      <td colspan="7" class="text-center">
        <div st-pagination="" st-items-by-page="20" st-displayed-pages="8"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
