<div class="modal-content" ng-controller="medicineEditCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">药品编辑 [{{ editItem.name }}]</h4>
    </div>
    <div class="modal-body">
        <h3 class="with-line-no-padding text-muted">
            药名属性
        </h3>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="inputName" class="control-label">药名</label>
                    <input type="text" class="form-control" id="inputName" placeholder="" ng-model="item.name" required />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="inputDesc" class="control-label">描述</label>
                    <input type="text" class="form-control" id="inputDesc" placeholder="" ng-model="item.desc" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="inputCapacity" class="control-label">药品总量</label>
                    <input type="number" class="form-control" id="inputCapacity" ng-model="item.capacity" min="0" max="10000" required />
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label for="inputCapacity" class="control-label"> </label>
                    <select class="form-control" ng-model="item.unit" required>
                        <option value="tablet" selected>粒</option>
                        <option value="ml">毫升</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="inputUsage" class="control-label">使用方法</label>
                    <select class="form-control" ng-model="item.usage" id="inputUsage" required>
                        <option value="0">内服</option>
                        <option value="1">外用</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="inputCount" class="control-label">每次</label>
                    <input type="number" class="form-control" id="inputCount" min="0"
                           ng-model="item.dosage.count" required />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="inputFrequency" class="control-label">服用频率</label>
                    <input type="number" class="form-control" id="inputFrequency" min="0" max="100"
                           ng-model="item.dosage.frequency" required />
                </div>
            </div>
            <div class="col-sm-2">
                    <br/>
                    <select class="form-control" ng-model="item.dosage.way" required>
                        <option value="0">-- 请选择 --</option>
                        <option value="1">饭后</option>
                        <option value="2">饭前</option>
                        <option value="3">饭中</option>
                        <option value="4">睡前</option>
                        <option value="5">每4小时</option>
                        <option value="6">每8小时</option>
                        <option value="7">每12小时</option>
                        <option value="8">每天</option>
                        <option value="9">隔天</option>
                    </select>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label for="inputApply" class="control-label">开关</label>
                    <input type="checkbox" class="form-control" id="inputApply" ng-model="item.apply">
                </div>
            </div>
        </div>

        <h3 class="with-line-no-padding text-muted">
            监测提醒
            <a type="button"class="btn btn-sm btn-default pull-right" ng-click="createNotice()">新增提醒</a>
        </h3>
        <form name="editNForm" ng-show="editStatus > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inputNotice" class="control-label">提醒名称</label>
                        <input type="text" class="form-control" id="inputNotice" placeholder="" ng-model="editN.notice" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputDaysToStart" class="control-label">提醒开始(服药后的天数)</label>
                        <a href="#" class="ion-ios-help-outline" tooltip-popup-delay='800'
                           uib-tooltip="如果设置服药完成前几天,用负数。如 -2 表示服药完成前2天。"></a>
                        <input type="number" class="form-control" id="inputDaysToStart" ng-model="editN.days_to_start" min="0" max="1000">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputDuring" class="control-label">提醒持续天数</label>
                        <input type="number" class="form-control" id="inputDuring" ng-model="editN.during">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="radioRequireConfirm" class="control-label">用户确认取消?</label>
                        <input type="checkbox" class="form-control" id="radioRequireConfirm" ng-model="editN.require_confirm">
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <div class="form-group">
                        <label for="radioApply" class="control-label">有效?</label>
                        <input type="checkbox" class="form-control" id="radioApply" ng-model="editN.apply">
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-top:.5em;">
                <a type="button" class="btn btn-primary" ng-click="saveNotice(editN)" ng-disabled="editNForm.$invalid"><i class="ion-android-checkmark-circle"></i> {{ editStatus === 1 ? "创建" : "更新" }}</a>
            </div>
        </form>
            <table class="table">
                <thead class="bold-text bg-info">
                <td style="width:4%">#</td>
                <td style="width:46%">名称</td>
                <td style="width:10%">提醒开始</td>
                <td style="width:10%">持续天数</td>
                <td style="width:10%">确认取消?</td>
                <td style="width:10%">有效?</td>
                <td style="width:10%"></td>
                </thead>
                <tbody>
                <tr ng-repeat="notice in item.notices track by $index" ng-class="editNIndex === $index ? 'bg-success':''">
                    <td>{{$index+1}}</td>
                    <td><input type="text" class="form-control" ng-model="notice.notice" placeholder="设置提醒名称"></td>
                    <td><input type="number" class="form-control" ng-model="notice.days_to_start"></td>
                    <td><input type="number" class="form-control" ng-model="notice.during" placeholder="设置答案"></td>
                    <td><input type="checkbox" class="form-control" ng-model="notice.require_confirm"></td>
                    <td><input type="checkbox" class="form-control" ng-model="notice.apply"></td>
                    <td>
                        <button class="btn btn-primary btn-xs" ng-click="editNotice(notice, $index)"><i class="ion-compose"></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="removeNotice($index)"><i class="ion-ios-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>

        <div class="modal-footer" style="padding-top:.5em;">
            <a type="button" class="btn btn-primary" ng-click="saveMedicine(item)"><i class="ion-android-checkmark-circle"></i>更新</a>
        </div>
    </div>
</div>