<div ba-panel  ba-panel-class="with-scroll">
    <div cg-busy="myPromise"></div>

    <div class="row add-row-editable-table">
        <div class="col-sm-2 text-right"><span>选择医院科室:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="pre.department"
                        ng-options="department._id as department.name for department in departments">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-1 text-right"><span>药师:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="search.doctor"
                        ng-options="d._id as d.name for d in doctors | filter: {department: pre.department}">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-1 text-right"><span>预约:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="search.schedule"
                        ng-options="s._id as (s.date + s.period.name) for s in schedules | filter: {doctor: search.doctor}">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary pull-right" ng-click="addBooking()">
                <i class="ion-android-add-circle"></i> 创建</button>
        </div>

    </div>
    <table st-table="displayedItems" st-safe-src="bookings" class="table table-bordered table-hover table-condensed" ba-panel-title="Modals">
        <thead class="bg-info">
        <tr>
            <th style="width:20%">药师</th>
            <th style="width:30%">预约</th>
            <th style="width:15%">用户</th>
            <th st-sort="status" style="width:15%">状态</th>
            <th style="width:20%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in displayedItems | filter: search" class="editable-row">
            <td ng-show="false">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.doctor" e-name="doctor" e-form="rowform" e-required
                      e-ng-options="d._id as d.name for d in doctors">
                  {{ showDoctor(item)}}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.schedule" e-name="schedule" e-form="rowform" e-required
                      e-ng-options="s._id as s.date for s in schedules">
                  {{ showSchedule(item)}}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.user" e-name="user" e-form="rowform" e-required
                      e-ng-options="u._id as u.name for u in users">
                  {{ showUser(item)}}
                </span>
            </td>
            <td class="select-td">
                <span editable-number="item.status" e-name="status" e-form="rowform">
                  {{ item.status || '空' }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveBooking($data)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <delete-btn item-id="item._id" yes-delete="removeBooking"></delete-btn>

                </div>
            </td>
        </tr>
        </tbody>
        <tfoot class="pbs">
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="8"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
