<div ba-panel ba-panel-class="with-scroll">
    <div cg-busy="myPromise"></div>

    <div class="row add-row-editable-table">
        <div class="col-sm-2 text-right"><span>选择医院科室:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="search.department"
                        ng-options="department._id as department.name for department in departments">
                </select>
            </span>
        </div>
        <div class="col-sm-1 text-right"><span>材料类别:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="search.cat"
                        ng-options="d._id as d.name for d in cats | filter: search.department">
                </select>
            </span>
        </div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-primary" ng-click="addTemplate()" ng-disabled="!search.cat || !search.department">
                <i class="ion-android-add-circle"></i> 创建</button>
            <button class="btn btn-default" ng-click="backToCats()">
                <i class="ion-ios-undo-outline"></i> 返回到类别</button>
        </div>
    </div>
    <hr>
    <div ng-if="templates.length < 1">
        无记录。
    </div>
    <table class="table table-bordered table-hover table-condensed" ng-if="templates.length > 0">
        <thead class="bg-info">
        <tr>
            <th style="width:20%">名字</th>
            <th style="width:25%">消息标题</th>
            <th style="width:25%">标题图片</th>
            <th style="width:10%">开关</th>
            <th style="width:20%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in templates | filter: search track by $index" class="editable-row">
            <td ng-show="false">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
                <span editable-text="item.department" e-name="department" e-form="rowform" e-required>
                    {{item.department}}
                </span>
                <span editable-text="item.cat" e-name="cat" e-form="rowform" e-required>
                    {{item.cat}}
                </span>
                <span editable-text="item.updatedBy" e-name="updatedBy" e-form="rowform" e-required>
                    {{item.updatedBy}}
                </span>
            </td>
            <td>
                <span editable-text="item.name" e-name="name" e-form="rowform">
                  {{ item.name || '' }}
                </span>
            </td>
            <td>
                <span editable-text="item.title" e-name="title" e-form="rowform">
                  {{ item.title || '' }}
                </span>
            </td>
            <td>
                <span editable-text="item.title_image" e-name="title_image" e-form="rowform">
                  {{ item.title_image || '' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveTemplate($data, item._id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();cancelTemplate();" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <delete-btn item-id="item._id" yes-delete="removeTemplate"></delete-btn>
                    <button class="btn btn-primary btn-xs" data-toggle="modal" ng-click="open('app/cms/education/template/templateEdit.html', 'lg', item, $index)">
                        材料模版编辑
                    </button>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>
