<div ba-panel ba-panel-class="with-scroll">
    <div cg-busy="myPromise"></div>

    <div class="row add-row-editable-table">
        <div class="col-sm-1 text-right"><label>科室</label></div>
        <div class="col-sm-3">
            <span>
                <select class="form-control" ng-model="search.department"
                        ng-options="department._id as department.name for department in departments"
                        ng-click="selectDepartment()">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>

        </div>
        <div class="col-sm-1 text-right"><label>类别</label></div>
        <div class="col-sm-3">
            <span>
                <select class="form-control" ng-model="search.type"
                        ng-options="type.id as type.name for type in types"
                        ng-click="selectType()">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary pull-right" ng-click="addSurveyTemplate()" ng-disabled="!search.department || !search.type">
                <i class="ion-android-add-circle"></i> 创建</button>
        </div>

    </div>
    <hr/>

    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:17%">名字</td>
            <td style="width:50%">试题</td>
            <td style="width:10%">顺序</td>
            <td style="width:8%">开关</td>
            <td style="width:15%">操作</td>
        </tr>
        <tr ng-repeat="item in surveyTemplates track by $index" class="editable-row">
            <td ng-show="false">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
                <span editable-text="item.department" e-name="department" e-form="rowform" e-required>
                    {{item.department}}
                </span>
                <span editable-text="item.type" e-name="type" e-form="rowform" e-required>
                    {{item.type}}
                </span>
            </td>
            <td>
                <span editable-text="item.name" e-name="name" e-form="rowform" e-required>
                  {{ item.name || '空' }}
                </span>
            </td>
            <td>
                <pre>{{ showQuestions(item.questions) }}</pre>
            </td>
            <td>
                <span editable-number="item.order" e-name="order" e-form="rowform" e-required class="col-xs-12">
                  {{ item.order || '' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveSurvey($data, item._id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();cancelSurveyTemplate();" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <delete-btn item-id="item._id" yes-delete="removeSurvey"></delete-btn>
                    <button class="btn btn-primary btn-xs" data-toggle="modal" ng-click="open('app/cms/survey/survey/surveyTemplateEdit.html', 'lg', item, $index)">
                        问卷编辑
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
