<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

    <h3 class="with-line">一般信息</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">头像</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">更改头像</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputUserId" class="col-sm-3 control-label">用户名</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputUserId" placeholder="" ng-model="doctor.user_id">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputName" class="col-sm-3 control-label">姓名</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName" placeholder="" ng-model="doctor.name">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">性别</label>

          <div class="col-sm-9">
            <!--<input type="text" class="form-control" id="inputGender" placeholder="" ng-model="doctor.gender">-->
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" ng-model="doctor.gender" value="M">
              <span>男</span>
            </label>
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" ng-model="doctor.gender" value="F">
              <span>女</span>
            </label>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">医院科室</label>

          <div class="col-sm-9">
            <select class="form-control" ng-model="doctor.department"
                    ng-options="department._id as department.name for department in departments">
              <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
            </select>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputTitle" class="col-sm-3 control-label">职称</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputTitle" placeholder="" ng-model="doctor.title">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">修改密码</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">密码</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">再次输入密码</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">联系信息</h3>

    <div class="row">
      <div class="col-md-6">

        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">联系电话</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="暂不支持@test.com">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputAddress" class="col-sm-3 control-label">医院地址</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputAddress" placeholder="" value="暂不支持 ">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputRoom" class="col-sm-3 control-label">院内地址</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputRoom" placeholder="" value="暂不支持">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">工作时间</h3>

    <div class="row clearfix">
      <blockquote>
        <textarea placeholder="工作时间" class="form-control" ng-model="doctor.hours"></textarea>
      </blockquote>
    </div>

    <h3 class="with-line">擅长领域</h3>

    <div class="row clearfix">
      <blockquote>
        <textarea placeholder="擅长领域" class="form-control" ng-model="doctor.expertise"></textarea>
      </blockquote>
    </div>

    <h3 class="with-line">工作范围</h3>

    <div class="row clearfix">
      <blockquote>
        <textarea placeholder="工作范围" class="form-control" ng-model="doctor.bulletin"></textarea>
      </blockquote>
    </div>

    <h3 class="with-line">获奖情况</h3>

    <div class="row clearfix">
      <blockquote>
        <textarea placeholder="获奖情况" class="form-control" ng-model="doctor.honor"></textarea>
      </blockquote>
    </div>

    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="update()">
      <i class="ion-android-checkmark-circle"></i>更新个人信息
    </button>
  </div>
</div>
