<div ba-panel ba-panel-title="医院科室功能描述" ba-panel-class="with-scroll">

    <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="addDepartment()">创建</button>
    </div>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:30%">名字</td>
            <td style="width:30%">描述</td>
            <td style="width:10%">顺序</td>
            <td style="width:5%">开关</td>
            <td style="width:25%">操作</td>
        </tr>
        <tr ng-repeat="item in departments" class="editable-row">
            <td style="display:none;">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
            </td>
            <td>
        <span editable-text="item.name" e-name="name" e-form="rowform" e-required>
          {{ item.name || '空' }}
        </span>
            </td>
            <td class="select-td">
        <span editable-text="item.desc" e-name="desc" e-form="rowform">
          {{ item.desc || '空' }}
        </span>
            </td>
            <td class="select-td" >
        <span editable-number="item.order" e-name="order" e-form="rowform" >
          {{ item.order || '' }}
        </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveDepartment($data, item._id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeDepartment(item._id, $index)">删除</button>
                    <button class="btn btn-primary  btn-xs" data-toggle="modal" ng-click="getDiseasesByDepartmentId(item._id)">
                        查看科室内的疾病类型
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
