<div ba-panel ba-panel-title="疾病类型功能描述" ba-panel-class="with-scroll">

    <div class="row add-row-editable-table">

        <div class="col-sm-3 text-right"><label>选择医院科室:</label></div>
        <div class="col-sm-3">
            <div class="form-group">
                <select class="form-control" ng-model="search.department"
                        ng-options="department._id as department.name for department in departments">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary pull-right" ng-click="addDisease()">创建</button>
        </div>

    </div>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:20%">医院科室</td>
            <td style="width:20%">疾病类型</td>
            <td style="width:25%">描述</td>
            <td style="width:10%">顺序</td>
            <td style="width:5%">开关</td>
            <td style="width:20%">操作</td>
        </tr>
        <tr ng-repeat="item in diseases | filter: search" class="editable-row">
            <td style="display:none;">
                <span e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
            </td>
            <td>
                <span editable-select="item.department" e-name="department" e-form="rowform" e-required
                      e-ng-options="d._id as d.name for d in departments">
                  {{ showDepartment(item)}}
                </span>
            </td>
            <td>
                <span editable-text="item.name" e-name="name" e-form="rowform" e-required>
                  {{ item.name || '空' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-text="item.desc" e-name="desc" e-form="rowform">
                  {{ item.desc || '空' }}
                </span>
            </td>
            <td class="select-td" >
                <span editable-number="item.order" e-name="order" e-form="rowform" >
                  {{ item.order || '' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply || false }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveDisease($data, item._id)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="removeDisease(item._id)"><i class="ion-ios-trash"></i></button>
                </div>
            </td>
        </tr>
    </table>
</div>
