<div class="modal-content" ng-controller="scheduleCreateCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">批量创建医生门诊</h4>
    </div>
    <div class="modal-body">
        <h3 class="with-line-no-padding">医生姓名: {{doctor.name}} (ID: {{doctor._id}})</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputName" class="col-sm-3 control-label">doctor</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputName" placeholder="" ng-model="schedule.doctor">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">姓名</label>

                    <div class="col-sm-9">
                        <select name="mySelect" id="mySelect"
                                ng-options="p.name for p in periods track by p._id"
                                ng-model="schedule.period">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputCell" class="col-sm-3 control-label">x</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputCell" placeholder="" ng-model="schedule.x">
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">limit</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control"  placeholder="" ng-model="schedule.limit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeMe()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="saveMe(data)">
            <i class="ion-android-checkmark-circle"></i>批量创建</button>
    </div>
</div>