<div ba-panel  ba-panel-class="with-scroll">
    <div cg-busy="myPromise"></div>

    <div class="row add-row-editable-table">
        <div class="col-sm-2 text-right"><span>选择医院科室:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="pre.department"
                        ng-options="department._id as department.name for department in departments">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-2 text-right"><span>选择药师:</span></div>
        <div class="col-sm-2">
            <span>
                <select class="form-control" ng-model="search.doctor"
                        ng-options="d._id as d.name for d in doctors | filter: pre.department">
                    <!--<option ng-repeat="department in departments" value="{{department._id}}">{{department.name}}</option>-->
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary pull-right" ng-click="getSchedules(search.doctor)" ng-disabled="!search.doctor">
                <i class="ion-android-search"></i> 搜索</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary pull-right"
                    ng-click="open('app/cms/reservation/schedule/scheduleCreate.html', 'lg', search.doctor)"
                    ng-disabled="!search.doctor">
                <i class="ion-android-add-circle"></i> 批量创建</button>
        </div>

    </div>
    <table st-table="displayedItems" st-safe-src="schedules" class="table table-bordered table-hover table-condensed" ba-panel-title="Modals">
        <thead class="bg-info">
        <tr>
            <th style="width:20%">药师</th>
            <th st-sort="date" style="width:20%">日期</th>
            <th style="width:15%">名称</th>
            <th st-sort="limit" style="width:10%">个数限制</th>
            <th st-sort="apply" style="width:10%">开关</th>
            <th style="width:25%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in displayedItems" class="editable-row">
            <td style="display:none;">
                <span editable-text="item._id" e-name="_id" e-form="rowform" e-required>
                    {{item._id}}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.doctor" e-name="doctor" e-form="rowform" e-required
                      e-ng-options="d._id as d.name for d in doctors">
                  {{ showDoctor(item)}}
                </span>
            </td>
            <td class="select-td">
                <span editable-date="item.date" e-name="date" e-form="rowform" e-required>
                <!--<span editable-bsdate="item.date" e-name="date" e-form="rowform" e-required-->
                    <!--e-datepicker-popup="yyyy-MM-dd" e-is-open="opened.$data" e-ng-click="open($event,'$data')">-->
                  {{ item.date | date:"yyyy-MM-dd" }}
                </span>
            </td>
            <td class="select-td">
                <span editable-select="item.period" e-name="period" e-form="rowform" e-required
                      e-ng-options="p._id as p.name for p in periods">
                  {{ showPeriod(item)}}
                </span>
            </td>
            <td  class="select-td">
                <span editable-text="item.limit" e-name="limit" e-form="rowform" e-required>
                  {{ item.limit || '空' }}
                </span>
            </td>
            <td class="select-td">
                <span editable-checkbox="item.apply" e-name="apply" e-form="rowform" e-required>
                  {{ item.apply }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" onaftersave="saveSchedule($data)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                        保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary btn-xs" ng-click="rowform.$show()"><i class="ion-compose"></i></button>
                    <delete-btn item-id="item._id" yes-delete="removeSchedule"></delete-btn>
                    <button class="btn btn-primary  btn-xs" data-toggle="modal" ng-click="getScheduleDetails(item._id)">
                        查看药师门诊详情
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot class="pbs">
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="8"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
