<div class="modal-content" ng-controller="userEditCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">编辑患者用户信息</h4>
    </div>
    <div class="modal-body">
        <h3 class="with-line-no-padding">用户信息 (用户ID: {{data.link_id}})</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">头像</label>

                    <div class="col-sm-9">
                        <div class="userpic">
                            <div class="userpic-wrapper">
                                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                            </div>
                            <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                            <a href class="change-userpic" ng-click="uploadPicture()">更改头像</a>
                            <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputName" class="col-sm-3 control-label">姓名</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputName" placeholder="" ng-model="data.name">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">性别</label>

                    <div class="col-sm-9">
                        <!--<input type="text" class="form-control" id="inputGender" placeholder="" ng-model="doctor.gender">-->
                        <label class="radio-inline custom-radio nowrap">
                            <input type="radio" ng-model="data.gender" value="M">
                            <span>男</span>
                        </label>
                        <label class="radio-inline custom-radio nowrap">
                            <input type="radio" ng-model="data.gender" value="F">
                            <span>女</span>
                        </label>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputCell" class="col-sm-3 control-label">手机</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputCell" placeholder="" ng-model="data.cell">
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">出生日期</label>

                    <div class="col-sm-9">
                        <input type="date" class="form-control" ng-model="data.birthdate">
                        </input>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="with-line-no-padding">用户关联信息</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputsin" class="col-sm-3 control-label">社保号码</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputSin" placeholder="" ng-model="data.sin">
                    </div>
                </div>

            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeMe()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="saveMe(data)"><i class="ion-android-checkmark-circle"></i>更新用户信息</button>
    </div>
</div>